html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  background-color: #F4F4F9;  
}


a:link {
  color: #e698b1;
}

a:visited {
  color: #e698b1;
}

a:hover {
  color: #dd6088;
}

a:active {
  color: #dd6088;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: 400;
}

.site-container {
  display: flex;
  justify-content: flex-start;
}

/* -------------
---------------------------------
----- INTRODUCTION INK TRANSITION 
---------------------------------
---------------- */
.introduction {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  animation: mymove 2s 1s;
}

@keyframes mymove {
  from {background-color: white;}
  to {background-color: black;}
}

.introduction .introduction-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-y: auto;
  /* padding: 3em 5%; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 1;
  animation: blackout .5s 2.5s ;
  color: #fff;
}

/* @keyframes blackout {
  from {opacity: 1;}
  to {opacity: 0;}
} */

.introduction img {
  height: 180px;
  width: auto;
}
.introduction p{
  font-size: 22px;
  margin-top: 0px;
}

.introduction.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.7s, visibility 0s;
  -moz-transition: opacity 0.7s, visibility 0s;
  transition: opacity 0.7s, visibility 0s;
}
.introduction.visible .modal-content {
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
}
.introduction.visible .modal-close {
  visibility: visible;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
@media only screen and (min-width: 1100px) {
  .introduction .modal-content {
    padding: 6em 5%;
  }
  .introduction .modal-close {
    height: 60px;
    width: 60px;
  }
  .introduction p {
    font-size: 2rem;
  }
}

.introduction-transition-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}
.introduction-transition-layer .introduction-bg-layer {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-2%);
  -moz-transform: translateY(-50%) translateX(-2%);
  -ms-transform: translateY(-50%) translateX(-2%);
  -o-transform: translateY(-50%) translateX(-2%);
  transform: translateY(-50%) translateX(-2%);
  /* its dimentions will be overwritten using jQuery to proportionally fit the viewport */
  height: 100%;
  /* our sprite is composed of 25 frames */
  width: 2500%;
  background: url(../images/inktransition/ink-rev.png) no-repeat 0 0;
  background-size: 100% 100%;
}
.introduction-transition-layer.visible {
  opacity: 1;
  visibility: visible;
}
.introduction-transition-layer.display {
  display: none;
}

.introduction-transition-layer.opening .introduction-bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24);
  -moz-animation: cd-sequence 0.8s steps(24);
  animation: cd-sequence 0.8s steps(24);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.introduction-transition-layer.closing .introduction-bg-layer {
  -webkit-animation: cd-sequence-reverse 0.8s steps(24);
  -moz-animation: cd-sequence-reverse 0.8s steps(24);
  animation: cd-sequence-reverse 0.8s steps(24);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.no-cssanimations .introduction-transition-layer {
  display: none;
}

@-webkit-keyframes cd-sequence {
  0% {
    /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
    -webkit-transform: translateY(-50%) translateX(-2%);
  }
  100% {
    /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -webkit-transform: translateY(-50%) translateX(-98%);
  }
}
@-moz-keyframes cd-sequence {
  0% {
    /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
    -moz-transform: translateY(-50%) translateX(-2%);
  }
  100% {
    /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -moz-transform: translateY(-50%) translateX(-98%);
  }
}
@keyframes cd-sequence {
  0% {
    /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
    -webkit-transform: translateY(-50%) translateX(-2%);
    -moz-transform: translateY(-50%) translateX(-2%);
    -ms-transform: translateY(-50%) translateX(-2%);
    -o-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%);
  }
  100% {
    /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -webkit-transform: translateY(-50%) translateX(-98%);
    -moz-transform: translateY(-50%) translateX(-98%);
    -ms-transform: translateY(-50%) translateX(-98%);
    -o-transform: translateY(-50%) translateX(-98%);
    transform: translateY(-50%) translateX(-98%);
  }
}
@-webkit-keyframes cd-sequence-reverse {
  0% {
    -webkit-transform: translateY(-50%) translateX(-98%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-2%);
  }
}
@-moz-keyframes cd-sequence-reverse {
  0% {
    -moz-transform: translateY(-50%) translateX(-98%);
  }
  100% {
    -moz-transform: translateY(-50%) translateX(-2%);
  }
}
@keyframes cd-sequence-reverse {
  0% {
    -webkit-transform: translateY(-50%) translateX(-98%);
    -moz-transform: translateY(-50%) translateX(-98%);
    -ms-transform: translateY(-50%) translateX(-98%);
    -o-transform: translateY(-50%) translateX(-98%);
    transform: translateY(-50%) translateX(-98%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-2%);
    -moz-transform: translateY(-50%) translateX(-2%);
    -ms-transform: translateY(-50%) translateX(-2%);
    -o-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%);
  }
}

     
/* -------------
---------------------------------
----- LEFT-SIDE NAV 
---------------------------------
---------------- */

nav {
  /* border: 2px solid black; */
  box-sizing: border-box;
  background-color: #fff;
  width: 20%;
  max-width: 250px;
  min-width: 230px;
  min-height: 375px;
  /* box-shadow: 2px 2px 9px 0px rgba(68,68,68,0.2); */
  animation:  1s ease 2.3s slideInFromLeft;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.nav-intro {
  height: 40vh;
  min-height: 225px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid blue; */
}
.nav-intro img {
  height: 55px;
  margin: 40px 0 0 20px;
}
.nav-intro h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.4em;
  font-size: 26px;
  margin: 0;
}
.nav-links {
  height: 40vh;
  min-height: 195px;
  margin-top: 30px;
  /* border: 2px solid gold; */
}
.nav-links ul{
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.nav-links ul li {
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.nav-contact {
  height: auto;
  display: flex;
  justify-content: start;
  margin-bottom: 40px;
  /* border: 2px solid green; */

}

.nav-contact a {
  flex-basis: 30%;
}

svg {
  height: 15px;
  fill: darkgray;
  /* border: 2px solid green; */
}

.nav-contact svg:hover {
  fill: black;
}
/* End styles for nav */


/* -------------
---------------------------------
----- MAIN CONTENT
---------------------------------
---------------- */


main {
  /* border: 2px solid yellow; */
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
  overflow-y: scroll;
  scroll-behavior: smooth;

}

.div-title {
  width: 100%;
  font-size: 22px;
  font-weight: 500;
  margin-top: 5px;

}
.div-desc {
  width: 100%;
  font-size: 16px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #000000;
}


#portfolio {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#posters {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#writings {
  width: 100%;
}

#writings a {
  color: #023e4d;
}

.medium-section {
  width: 100%;
  background-color: #ffffff;
}

#medium-widget {
  padding: 20px !important;
}

.medium-widget-article__content {
  margin-right: 20px !important;

}
.card {
  box-sizing: border-box;
  height: 300px;
  width: 24%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  margin-right: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  /* padding-left: 50px; */
  
}

.card-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, .9);
  height: 90%;
  width: 90%;
  margin: 30px;
  overflow: hidden;
  animation: appear .4s ease-in-out
}

@keyframes appear {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}



#about {
  width: 100%;
  height: 700px;
}



.card-port {
  box-sizing: border-box;
  height: 250px;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  margin-right: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-left: 50px; */
  
}

.card-content-port {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 10px 40px;
  background-color: rgba(255, 255, 255, .9);
  height: 80%;
  width: 90%;
  margin: 30px;
  overflow: hidden;
  animation: appear .4s ease-in-out
}

.card-content h3, .card-content-port h3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  font-weight: 700;
  margin: 0;
  color: #023e4d;
}

.card-content h2, .card-content-port h2 {
  margin: 0;
  line-height: 1.2em;
}

.card-content p, .card-content-port p {
  margin: 5px;
  font-size: 14px;
}

.card-content button, .card-content-port button {
  border: none;
  border-radius: 3px;
  background-color: #000000;
  color: white;
  margin-top: 10px;
  padding: 10px 15px;
  
}

.card-content button:hover, .card-content-port button:hover {
  background-color: #023e4d;
}


/* -------------
---------------------------------
----- project modals 
---------------------------------
---------------- */

.modal {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #ffffff;
  background-size: cover;
  opacity: 0;
  visibility: hidden;
  transition: all .4s;
  overflow: hidden;
}

.modal a {
  color: #023e4d;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__close {
  /* 'X' icon */
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 5%;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: rgba(0, 0, 0, .2) url(../images/inktransition/cd-icon-close-blk.svg) no-repeat center center;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  /* visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s; */
}

.modal__close:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  position: fixed;
  height: 100%;
  width: 60%;
  max-width: 800px;
  /* padding-top: 2em; */
  padding-bottom: 6em;
  padding-right: 5%;
  padding-left: 5%;
  overflow-y: auto;
  /* border: 2px solid pink; */
}

.modal_section {
  margin-top: 20px;
}
.modal_img {
  margin: 40px 0 0 0;
}
.modal_img img {
  width: 100%;
  height: auto!important;
  display: block;
  margin: auto;
}

.modal_img .half {
  width: 50%;
  height: auto!important;
}

iframe {
  width: 100%;
}

.hidden {
  display: none;
}

.caption {
  font-size: 13px;
  margin-bottom: 20px;
  padding: 5px;
  display: block;
  background-color: #F4F4F9;
  width: 100%;
  color: #023e4d;
  border-left: 3px solid #023e4d;
}

 
/* -------------
---------------------------------
----- INK TRANSITION
---------------------------------
---------------- */


.cd-transition-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}
.cd-transition-layer .bg-layer {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-2%);
  -moz-transform: translateY(-50%) translateX(-2%);
  -ms-transform: translateY(-50%) translateX(-2%);
  -o-transform: translateY(-50%) translateX(-2%);
  transform: translateY(-50%) translateX(-2%);
  /* its dimentions will be overwritten using jQuery to proportionally fit the viewport */
  height: 100%;
  /* our sprite is composed of 25 frames */
  width: 2500%;
  background: url(../images/inktransition/ink.png) no-repeat 0 0;
  background-size: 100% 100%;
}
.cd-transition-layer.visible {
  opacity: 1;
  visibility: visible;
}
.cd-transition-layer.opening .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24);
  -moz-animation: cd-sequence 0.8s steps(24);
  animation: cd-sequence 0.8s steps(24);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.cd-transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence-reverse 0.8s steps(24);
  -moz-animation: cd-sequence-reverse 0.8s steps(24);
  animation: cd-sequence-reverse 0.8s steps(24);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.no-cssanimations .cd-transition-layer {
  display: none;
}

@-webkit-keyframes cd-sequence {
  0% {
    /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
    -webkit-transform: translateY(-50%) translateX(-2%);
  }
  100% {
    /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -webkit-transform: translateY(-50%) translateX(-98%);
  }
}
@-moz-keyframes cd-sequence {
  0% {
    /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
    -moz-transform: translateY(-50%) translateX(-2%);
  }
  100% {
    /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -moz-transform: translateY(-50%) translateX(-98%);
  }
}
@keyframes cd-sequence {
  0% {
    /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
    -webkit-transform: translateY(-50%) translateX(-2%);
    -moz-transform: translateY(-50%) translateX(-2%);
    -ms-transform: translateY(-50%) translateX(-2%);
    -o-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%);
  }
  100% {
    /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -webkit-transform: translateY(-50%) translateX(-98%);
    -moz-transform: translateY(-50%) translateX(-98%);
    -ms-transform: translateY(-50%) translateX(-98%);
    -o-transform: translateY(-50%) translateX(-98%);
    transform: translateY(-50%) translateX(-98%);
  }
}
@-webkit-keyframes cd-sequence-reverse {
  0% {
    -webkit-transform: translateY(-50%) translateX(-98%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-2%);
  }
}
@-moz-keyframes cd-sequence-reverse {
  0% {
    -moz-transform: translateY(-50%) translateX(-98%);
  }
  100% {
    -moz-transform: translateY(-50%) translateX(-2%);
  }
}
@keyframes cd-sequence-reverse {
  0% {
    -webkit-transform: translateY(-50%) translateX(-98%);
    -moz-transform: translateY(-50%) translateX(-98%);
    -ms-transform: translateY(-50%) translateX(-98%);
    -o-transform: translateY(-50%) translateX(-98%);
    transform: translateY(-50%) translateX(-98%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-2%);
    -moz-transform: translateY(-50%) translateX(-2%);
    -ms-transform: translateY(-50%) translateX(-2%);
    -o-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%);
  }
}

/* -------------
---------------------------------
----- MODAL CONTENT
---------------------------------
---------------- */

.cd-modal {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000 url(../images/inktransition/modal-bg.jpg) no-repeat center center;
  background-size: cover;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-modal .modal-content {
  overflow-y: auto;
  padding: 2.5em 5%;
  color: #f6f6f6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-modal h1 {
  text-align: center;
  margin-bottom: 10px;
}
.cd-modal h1::after {
  /* ink/brush separation */
  content: '';
  display: block;
  width: 130px;
  height: 18px;
  background: url(../images/inktransition/ink-separation.svg) no-repeat center center;
  margin: .2em auto 0;
}
.cd-modal p {
  line-height: 1.6;
  margin: 2em auto;
  max-width: 800px;
}
.cd-modal .modal-close {
  /* 'X' icon */
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 5%;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1) url(../images/inktransition/cd-icon-close.svg) no-repeat center center;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
}
.no-touch .cd-modal .modal-close:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.cd-modal.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.7s, visibility 0s;
  -moz-transition: opacity 0.7s, visibility 0s;
  transition: opacity 0.7s, visibility 0s;
}
.cd-modal.visible .modal-content {
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
}
.cd-modal.visible .modal-close {
  visibility: visible;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.modal-content-wrap {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
 
}

.modal-pic-side {
  width: 30%;
  display: flex;
  justify-content: center;
  min-width: 300px;
  margin-right: 10px;
  padding-top: 30px;
  /* border: 2px solid salmon; */
}
.modal-pic {
  height: 300px;
  border-radius: 50%;

}

.modal-text-side {
  width: 60%;
  /* border: 2px solid purple; */
}

@media (max-width:860px) {
  .modal-pic {
    height: 250px;
    border-radius: 50%;
  
  }
  .modal-text-side {
    width: 90%;
    /* border: 2px solid purple; */
  }
} 

@media only screen and (min-width: 1100px) {
  .cd-modal .modal-content {
    padding: 6em 5%;
  }
  .cd-modal .modal-close {
    height: 60px;
    width: 60px;
  }
  .cd-modal p {
    font-size: 1rem;
  }
}



/* -------------
---------------------------------
----- MEDIA QUERIES 
---------------------------------
---------------- */
                                                                                                                            
@media (max-width:1150px) {
  .card {
    width: 49%;
  }
  .modal__content {
    width: 80%;
  }
  .modal-text-side {
    width: 80%;
  }

}

@media (max-width:850px) {
  .card {
    width: 98%;
  }
  .card-content-port {
    width: 80%;
  }

  .medium-widget-article__grid {
    flex-direction: column;
  }

  .medium-widget-article__image img {
    width: 80% !important;
  }
}


@media (max-width:500px) {
  .introduction img {
    height: 120px;
    width: auto;
  }

  nav {
    min-width: 100px;
    padding-left: 12px;
  }
  .nav-intro h1 {
    font-size: 18px;
  }
  .nav-intro span {
    display: none;
  }
  .nav-contact{
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 80px;
  }

  .nav-contact svg {
    margin: 5px 5px 10px;
  }
  .nav-links {
    height: 30vh;
    margin-top: 5px;
  }
  
}


